// Put your custom styles here!
p 
    text-align justify
section
    border 10px outset
h2 
    text-align center
.borderBox
    border solid grey
.listKesimpulan li 
    list-style-image url('/images/chevron-right.svg')
.listKekurangan li
    list-style-image url('/images/three-dots.svg')
// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
